/******** General Styles *******/
body {
    font-family: "Comic Relief", sans-serif;
    color: #000000;
    background-color: #d6b2db;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******** Typography *******/
h1 {
    font-family: "Sunshiney", sans-serif;
    color: #b76689;
    font-size: 80px;
    text-align: center;
}

/******** Page Styles *******/
.photo-1 p, .photo-2 p, .photo-3 p, .photo-4 p, .photo-5 p, .photo-6 p {
    display: none;
}

/******** Show/Hide Classes *******/
.showing {
    display: block;
}

.hidden {
    display: none;
}

/******** Cover Page *******/
#cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrapbook-cover {
    display: block;
}

.cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******** Scrapbook Pages *******/
article.page {
    position: relative;
}

.scrapbook-background {
    display: block;
}

.scrapbook-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6 {
    position: absolute;
}

/* Left Side (Page 1) - Photos 1-3 */
.photo-1 {
    top: 30%;
    left: 10%;
}

.photo-2 {
    top: 10%;
    left: 25%;
}

.photo-3 {
    bottom: 10%;
    left: 5%;
}

/* RIGHT SIDE (Page 2) - Photos 4-6 */
.photo-4 {
    top: 30%;
    right: 20%;
}

.photo-5 {
    top: 10%;
    right: 8%;
}

.photo-6 {
    bottom: 5%;
    right: 5%;
}

/******** Navigation Styles *******/
nav {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

nav button:hover, #close-btn:hover {
    transform: translateX(-50%) scale(1.05);
}

#close-btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#start-btn {
    display: block;
    margin: 0 auto;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

button:focus {
    border: 3px solid #ac5bce;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-1:hover, .photo-2:hover, .photo-3:hover, .photo-4:hover, .photo-5:hover, .photo-6:hover {
    cursor: pointer;
    transform: scale(1.05);
}