/******** Color Scheme *******/
:root {
    --white: #FFFFFF;
    --beige: #EFEBCE;
    --black: #000000;
    --yaleBlue: #16425B;
    --skyBlue: #81C3D7;
    --balticBlue: #2F6690;
}

/******** General Styles *******/
body {
    font-family: "Annapurna SIL", serif;
    color: var(--yaleBlue);
    background-color: var(--beige);
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

main {
    background-color: var(--white);
    border-radius: 5px;
    padding: 0;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.43);
}

article {
    padding: 20px;
}

h3, h4, time, p, figure {
    padding-left: 50px;
    padding-right: 50px;
}

figure {
    margin: 0;
}

figure img {
    width: 400px;
    height: 400px;
}

/******** Typography *******/
header h1 {
    font-family: "Princess Sofia", cursive;
    font-size: 4.38rem;
    text-align: left;
    padding-left: 180px;
    padding-top: 60px;
    margin: 0;
}

header h2 {
    font-size: 1.44rem;
    text-align: right;
    padding-right: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

main h2 {
    background-color: var(--skyBlue);
    color: var(--yaleBlue);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    padding: 40px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

time {
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    color: var(--black);
    margin-bottom: 30px;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6em;
    max-width: 35em;
}

figcaption {
    font-size: 1.1rem;
    font-weight: 100;
    padding-top: 10px;
}

.footer-1, .footer-2 {
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
}

article a {
    color: var(--balticBlue);
    text-decoration: underline;
    font-weight: 600;
}

/******** Header *******/
header {
    background: radial-gradient(circle, rgba(129, 195, 215, 1) 0%, rgba(201, 215, 214, 1) 68%, rgba(217, 220, 214, 1) 100%);
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

.starfish {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 70px;
    left: 30px;
    z-index: 10;
}

/******** Navigation Styles *******/
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

nav ul li a {
	display: block;
	background: var(--skyBlue);
	padding: 20px 10px;
    font-size: 1.38rem;
	text-align: center;
	text-decoration: none;
	color: var(--yaleBlue);
	font-weight: bold;
    transition: all 0.2s ease-in;
}

nav ul li a:hover {
    background-color: var(--balticBlue);
}

/******** Sketch Styles *******/
.sketch {
    padding-bottom: 10px;
}

.sketch p {
    font-size: 1.25rem;
    margin-top: 50px;
    text-align: center;
}

.sketch img {
    display: block;
    margin: 0 auto 50px auto;
    border: 4px solid var(--skyBlue);
    border-radius: 20px;
}

/******** Footer *******/
footer {
    background-color: var(--skyBlue);
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-1 {
    text-align: left;
    margin: 0;
}

.footer-2 {
    text-align: right;
    margin: 0;
    font-style: normal;
}

footer a {
    color: var(--yaleBlue);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}